<?xml version="1.0" encoding="utf-8" ?>
<phpunit>
	<listeners>
		<!--
		<listener class="SimpleTestListener" file="SimpleTestListener.php">
			<arguments>
			</arguments>
		</listener>
	-->
	</listeners>

	<testsuites>
	
		<testsuite name='PHPMusicTools'>
			
			<file>AccidentalTest.php</file>			
			<file>BarlineTest.php</file>			
			<file>ChordNameTest.php</file>
			<file>ChordTest.php</file>
			<file>ClefTest.php</file>
			<file>DirectionTest.php</file>
			<file>LayerTest.php</file>
			<file>MeasureTest.php</file>
			<file>NoteTest.php</file>
			<file>PartTest.php</file>
			<file>PitchTest.php</file>
			<file>PitchClassSetTest.php</file>
			<file>PMTObjectTest.php</file>
			<file>ScaleTest.php</file>
			<file>ScoreTest.php</file>
			<file>TimeTest.php</file>
			
		</testsuite>
	
		<filter>
			<whitelist processUncoveredFilesFromWhitelist="true">
				<directory suffix=".php">../classes/</directory>
				<exclude></exclude>
			</whitelist>
		</filter>

	</testsuites>
	
    <filter>
        <whitelist>
            <directory suffix=".php">../classes</directory>
        </whitelist>
    </filter>

	<logging>
		<log type="coverage-html" target="../../../public/coverage" charset="UTF-8" yui="true" highlight="true" lowUpperBound="50" highLowerBound="80" />
		<log type="testdox-html" target="../../../public/testdox.html"/>
	</logging>
	
</phpunit>
