<?xml version="1.0" encoding="utf-8" ?>
<phpunit>
	<listeners>
		<!--
		<listener class="SimpleTestListener" file="SimpleTestListener.php">
			<arguments>
			</arguments>
		</listener>
	-->
	</listeners>

	<testsuites>
	
		<testsuite name='PHPMusicTools'>
			
			<file>BarlineTest.php</file>			
			<file>ChordTest.php</file>
			<file>ClefTest.php</file>
			<file>DirectionTest.php</file>
			<file>LayerTest.php</file>
			<file>MeasureTest.php</file>
			<file>NoteTest.php</file>
			<file>PartTest.php</file>
			<file>PitchTest.php</file>
			<file>ScaleTest.php</file>
			<file>ScoreTest.php</file>
			<file>TimeTest.php</file>
			
		</testsuite>
	
	</testsuites>
	
	<logging>
		<!--<log type="coverage-clover" target="logs/clover_public.xml"/>-->
		<!--<log type="coverage-html" target="../public_html/coverage_public"/>-->
		<!--<log type="log-xml" target="logs/phpunit_public.xml"/>-->
	</logging>
	
</phpunit>
